.fail {
    color: red;
    font-weight: bold;
  }
  
  .passing {
    color: yellow;
  }
  
  .amazing {
    color: green;
    font-weight: bold;
  }

  .button-group {
    margin-bottom: 20px;
  }

  .responsive-recap {
    max-height: 350px;
    overflow-y: scroll;
    border: 3px solid white;
  }

  .recap-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    background-color: dimgray;
    border: 3px solid white;
  }
  
  .recap-table th, .recap-table td {
    padding: 0.5rem;
    text-align: left;
    background-color: dimgray;
    color: white;
    border: 3px solid white;
  }

  .recap-table th {
    position: sticky;
    top: 0;
    border: 3px solid white;
    text-align: center;
  }
  
  .recap-table .correct {
    background-color: green;
    box-shadow: none;
  }
  
  .recap-table .incorrect {
    background-color: red;
    text-decoration: none;
  }