.App {
  text-align: center;
  margin-top: 50px;
}

.header {
  background-color: rgb(24, 179, 231);
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, 2px 2px 0 black,
  2px 2px 0 black;
  max-width: 175px;
  margin: auto;
  margin-bottom: 100px;
  border-radius: 50%;
  border: 5px solid white;
  padding: 15px;
}

.question-card, .start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-text {
  background-color: darkblue;
  color: white;
  border: 5px solid white;
  padding: 45px;
  width: 500px;
  border-radius: 10px;
}

.answer-buttons {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.answerButton {
  padding: 15px;
  margin-top: 25px;
  background-color: darkblue;
  border: 4px solid white;
  border-radius: 10px;
  width: 500px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.start-screen {
  border: 5px solid white;
  border-radius: 10px;
  width: 500px;
  margin: auto;
  padding: 15px;
  color: white;
  background-color: darkblue;
}

.start-options {
  margin-top: 50px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.start-options label {
  margin-top: 15px;
  font-weight: bold;
}

.start-options select, input {
  margin-left: 10px;
}

.start-button, .replay {
  margin: auto;
  margin-top: 50px;
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

